.addConvidadoMesa:hover{
    cursor: pointer;
}

.inputAddConvidadoMesa{
    background: none !important;
    border-color: #800309 !important;
    border-bottom: 2px solid #ffc107 !important;
    color: white;
    font-weight: bold;
    width: 250px;
    padding: 5px;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}

textarea:focus, input:focus, select:focus {
border-color: none !important;
outline: 0;
-webkit-box-shadow: none !important;
box-shadow: none !important;
}

.option{
    background-color: #ffc107;
    color: #800309;
    font-weight: bold;
}

.option:hover{
    background-color: #800309 !important;
    color: #ffc107 !important;
}

.idConvidadoMesa{
    font-size: 25px;
}

