.mesa{
    width: 100px;
    height: 100px;
    background-color: #ffc107;
}

.mesa:hover{
    cursor: pointer;
}

.numMesa{
    font-weight: bold;
    font-size: 50px;
    color: black;
}

.lista{
    position: absolute;
    left: 0px;
}
